body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #454c59; */
  /* background: #011c1e; */
  /* background: #184264; */
  background: linear-gradient(180deg, #184264 0%, rgba(0, 164, 176, 0.5) 100%);
  color: #333;
}

a, a:visited {
  color: white;
  text-decoration: none;
  padding: 14px;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content-wrapper {
  flex: 0 1 480px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
  /* border: 1px solid white; */
}

section {
  box-sizing: border-box;
  position: relative;
  flex: 1 0 auto;
  /* margin: 7px; */
  /* padding: 7px; */
  background: none;
  transition: border 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;

  animation-name: fade-in;
  color: white;
  background: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0);
}

section p {
  display: none;
}

section:hover {
  border-bottom: 2px solid white;
}

@keyframes fade-in {
  from {
    /* opacity: 0.0; */
    transform: scale(0.0);
  }
  to {
    /* opacity: 1.0; */
    transform: scale(1.0);
  }
}

section:nth-child(1) {
  animation-duration: 0.2s;
  /* background: linear-gradient(-45deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(2) {
  animation-duration: 0.4s;
  /* background: linear-gradient(0deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%); */

}
section:nth-child(3) {
  animation-duration: 0.6s;
  /* background: linear-gradient(45deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(4) {
  animation-duration: 0.8s;
  /* background: linear-gradient(90deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(5) {
  animation-duration: 1.0s;
  /* background: linear-gradient(90deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(6) {
  animation-duration: 1.2s;
  /* background: linear-gradient(135deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%); */

}
section:nth-child(7) {
  animation-duration: 0.7s;
  /* background: linear-gradient(180deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(8) {
  animation-duration: 0.8s;
  /* background: linear-gradient(225deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%); */
}
section:nth-child(9) {
  animation-duration: 0.9s;
  /* background: linear-gradient(270deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%); */
}

#joope {
  animation: none;
  border-bottom: 2px solid white;
  background: none;
  flex: 1 0 150px;
  user-select: none;
  pointer-events: none;
}

@media only screen and (max-width: 835px) {
  section {
    flex: 1 0 100%;
  }
  section p {
    display: inline;
  }
}

section h2, a {
  font-size: 24px;
  font-family: sans-serif;
  transition: transform 0.2s;
  user-select: none;
  display: block;
  width: 100%;
  text-align: center;
}

/* section:hover h2 {
  transform: scale(1.1);
} */

section p {
  margin: 7px 0;
}