body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #454c59; */
  background: #011c1e;
  color: white;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content-wrapper {
  flex: 0 1 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7px;
  /* border: 1px solid white; */
}

section {
  box-sizing: border-box;
  position: relative;
  flex: 1 0 260px;
  margin: 7px;
  padding: 7px;
  background: none;
  transition: background-color 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 260px;
  cursor: pointer;
  /* border: 1px solid #D7B8F3; */
  border-radius: 50px;

  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    /* opacity: 0.0; */
    transform: scale(0.0);
  }
  to {
    /* opacity: 1.0; */
    transform: scale(1.0);
  }
}

section:nth-child(1) {
  animation-duration: 0.1s;
  background: linear-gradient(-45deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%);
}
section:nth-child(2) {
  animation-duration: 0.2s;
  background: linear-gradient(0deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%);

}
section:nth-child(3) {
  animation-duration: 0.3s;
  background: linear-gradient(45deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%);

}
section:nth-child(6) {
  animation-duration: 0.4s;
  background: linear-gradient(90deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%);
}
section:nth-child(9) {
  animation-duration: 0.5s;
  background: linear-gradient(135deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%);

}
section:nth-child(8) {
  animation-duration: 0.6s;
  background: linear-gradient(180deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%);
}
section:nth-child(7) {
  animation-duration: 0.7s;
  background: linear-gradient(225deg, #133a88 0%, rgba(2, 28, 30, 0.5) 100%);
}
section:nth-child(4) {
  animation-duration: 0.8s;
  background: linear-gradient(270deg, #03CEA4 0%, rgba(2, 28, 30, 0.5) 100%);
}

#joope {
  animation: none;
  border: 2px solid white;
}

@media only screen and (max-width: 835px) {
  #joope {
    order: -1;
    flex: 1 1 100%;
  }
}

section h2 {
  font-size: 24px;
  font-family: sans-serif;
  transition: transform 0.2s;
  user-select: none;
}

section:hover h2 {
  transform: scale(1.1);
}